<a href="https://colab.research.google.com/github/Quratulain786/-R-versus-Python-EDA/blob/main/Preprocessing_%26_Multipleregression_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Importing Libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from  sklearn.preprocessing import LabelEncoder

In [ ]:
#Loading dataset
dataset=pd.read_csv ('/content/Dataset_preprocessing_and_MLR(1).csv')

In [ ]:
#Visualization dataset
dataset.head(5)

,student id,study hours,sleep at night,stress level (1-5),happiness level (1-5),CGPA
0,1,7,y,2,4,3.2
1,2,8,n,3,3,3.0
2,3,9,y,3,3,3.0
3,4,7,y,2,4,3.5
4,5,7,y,2,4,3.6

In [ ]:
#row and cols
dataset.shape

(30, 6)

In [ ]:
dataset.columns

Index(['student id', 'study hours', 'sleep at night ', 'stress level (1-5)',
       'happiness level (1-5)', 'CGPA'],
      dtype='object')

In [ ]:
# we do not need as student id

In [ ]:
# droping id col (Here already deleted thats why he is asking )
dataset =dataset.drop(columns="student id")

KeyError: ignored

In [ ]:
dataset.columns

Index(['study hours', 'sleep at night ', 'stress level (1-5)',
       'happiness level (1-5)', 'CGPA'],
      dtype='object')

In [ ]:
dataset.describe()

       study hours  stress level (1-5)  happiness level (1-5)       CGPA
count    30.000000            30.00000              30.000000  28.000000
mean      7.600000             2.80000               6.500000   3.051429
std       1.302517             1.15669              17.692293   0.527108
min       5.000000             1.00000               1.000000   2.000000
25%       7.000000             2.00000               3.000000   2.775000
50%       8.000000             3.00000               3.000000   3.000000
75%       9.000000             3.00000               4.000000   3.500000
max      10.000000             5.00000             100.000000   3.900000

In [ ]:
# identifying where the error resides
dataset = dataset.rename(columns= {"happiness level (1-5)":"HL"})

In [ ]:
dataset.columns

Index(['study hours', 'sleep at night ', 'stress level (1-5)', 'HL', 'CGPA'], dtype='object')

In [ ]:
dataset.query("HL>=100")
#its entry 21
#over-writing  the value
dataset.at[21,'HL']=1

In [ ]:
dataset.describe()

       study hours  stress level (1-5)        HL       CGPA
count    30.000000            30.00000  30.00000  28.000000
mean      7.600000             2.80000   3.20000   3.051429
std       1.302517             1.15669   1.15669   0.527108
min       5.000000             1.00000   1.00000   2.000000
25%       7.000000             2.00000   3.00000   2.775000
50%       8.000000             3.00000   3.00000   3.000000
75%       9.000000             3.00000   4.00000   3.500000
max      10.000000             5.00000   5.00000   3.900000

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   study hours         30 non-null     int64
 1   sleep at night      30 non-null     object
 2   stress level (1-5)  30 non-null     int64
 3   HL                  30 non-null     int64
 4   CGPA                28 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.3+ KB

In [ ]:
#looking for Null Values
dataset.isnull().sum()

study hours           0
sleep at night        0
stress level (1-5)    0
HL                    0
CGPA                  2
dtype: int64

In [ ]:
dataset.isnull()

    study hours  sleep at night   stress level (1-5)     HL   CGPA
0         False            False               False  False  False
1         False            False               False  False  False
2         False            False               False  False  False
3         False            False               False  False  False
4         False            False               False  False  False
5         False            False               False  False  False
6         False            False               False  False  False
7         False            False               False  False  False
8         False            False               False  False  False
9         False            False               False  False  False
10        False            False               False  False   True
11        False            False               False  False  False
12        False            False               False  False  False
13        False            False               False  False  False
14        False            False               False  False  False
15        False            False               False  False  False
16        False            False               False  False   True
17        False            False               False  False  False
18        False            False               False  False  False
19        False            False               False  False  False
20        False            False               False  False  False
21        False            False               False  False  False
22        False            False               False  False  False
23        False            False               False  False  False
24        False            False               False  False  False
25        False            False               False  False  False
26        False            False               False  False  False
27        False            False               False  False  False
28        False            False               False  False  False
29        False            False               False  False  False

In [ ]:
##=== how to replace null values
dataset["CGPA"]=dataset["CGPA"].interpolate()

In [ ]:
dataset

    study hours sleep at night   stress level (1-5)  HL  CGPA
0             7               y                   2   4  3.20
1             8               n                   3   3  3.00
2             9               y                   3   3  3.00
3             7               y                   2   4  3.50
4             7               y                   2   4  3.60
5             8               n                   3   3  2.30
6             7               n                   3   3  2.80
7             8               n                   4   2  2.20
8             9               n                   2   4  3.00
9             9               y                   3   3  2.00
10            9               n                   5   1  2.40
11           10               y                   3   3  2.80
12            6               n                   5   1  2.30
13            7               n                   4   2  2.90
14            8               y                   2   4  3.60
15            8               y                   4   2  3.20
16            8               y                   3   3  3.20
17            7               y                   2   4  3.20
18            9               n                   3   3  3.00
19            9               y                   4   2  3.00
20            9               n                   3   3  2.70
21            9               n                   5   1  2.60
22            6               y                   1   5  3.90
23            6               y                   2   4  3.90
24            7               n                   2   4  2.40
25            8               n                   3   3  3.67
26            6               n                   3   3  3.00
27            5               y                   1   5  3.87
28            5               y                   1   5  3.30
29            7               y                   1   5  3.50

In [ ]:
labelencoder_Y= LabelEncoder()
dataset.iloc[:,1] = labelencoder_Y.fit_transform (dataset.iloc[:,1].values)
print (dataset.iloc[:,-1])

0     3.20
1     3.00
2     3.00
3     3.50
4     3.60
5     2.30
6     2.80
7     2.20
8     3.00
9     2.00
10    2.40
11    2.80
12    2.30
13    2.90
14    3.60
15    3.20
16    3.20
17    3.20
18    3.00
19    3.00
20    2.70
21    2.60
22    3.90
23    3.90
24    2.40
25    3.67
26    3.00
27    3.87
28    3.30
29    3.50
Name: CGPA, dtype: float64

<ipython-input-48-aa27e4dc6a2f>:2: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  dataset.iloc[:,1] = labelencoder_Y.fit_transform (dataset.iloc[:,1].values)

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   study hours         30 non-null     int64
 1   sleep at night      30 non-null     int64
 2   stress level (1-5)  30 non-null     int64
 3   HL                  30 non-null     int64
 4   CGPA                30 non-null     float64
dtypes: float64(1), int64(4)
memory usage: 1.3 KB

In [ ]:
# Independent variables
X = dataset.iloc[:,:-1]
# Dependent variables
Y = dataset.iloc[:,-1]
print("Features")
print(X)

Features
    study hours  sleep at night   stress level (1-5)  HL
0             7                1                   2   4
1             8                0                   3   3
2             9                1                   3   3
3             7                1                   2   4
4             7                1                   2   4
5             8                0                   3   3
6             7                0                   3   3
7             8                0                   4   2
8             9                0                   2   4
9             9                1                   3   3
10            9                0                   5   1
11           10                1                   3   3
12            6                0                   5   1
13            7                0                   4   2
14            8                1                   2   4
15            8                1                   4   2
16            8                1                   3   3
17            7                1                   2   4
18            9                0                   3   3
19            9                1                   4   2
20            9                0                   3   3
21            9                0                   5   1
22            6                1                   1   5
23            6                1                   2   4
24            7                0                   2   4
25            8                0                   3   3
26            6                0                   3   3
27            5                1                   1   5
28            5                1                   1   5
29            7                1                   1   5

In [ ]:
print(Y)

0     3.20
1     3.00
2     3.00
3     3.50
4     3.60
5     2.30
6     2.80
7     2.20
8     3.00
9     2.00
10    2.40
11    2.80
12    2.30
13    2.90
14    3.60
15    3.20
16    3.20
17    3.20
18    3.00
19    3.00
20    2.70
21    2.60
22    3.90
23    3.90
24    2.40
25    3.67
26    3.00
27    3.87
28    3.30
29    3.50
Name: CGPA, dtype: float64

In [ ]:

#### Spliting Dataset
from sklearn.model_selection import train_test_split
X_train,  X_test, Y_train, Y_test = train_test_split (X, Y,  test_size=0.3, random_state =0 )

In [ ]:
#==Feature scaling
 from sklearn.preprocessing import StandardScaler
 sc= StandardScaler()
 X_train = sc.fit_transform (X_train)
 X_test = sc.fit_transform (X_test)
 print("X_train", X_train)
 print("X_test", X_test)

IndentationError: ignored